{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

## Description

Installs Envoy Gateway

<!-- markdownlint-disable MD034 -->

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

<!-- markdownlint-enable MD034 -->
