{{/* platform/bootstrap/README.md.gotmpl */}}
{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

## Description

Bootstraps the Platform Argo CD resources.

<!-- markdownlint-disable MD034 -->

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

<!-- markdownlint-enable MD034 -->
